@page "/user/messages"
@attribute [Authorize(Roles = "webuser")]
@inject DbContextUser usersDb
@inject IUserMessagesService userMessages
@inject SigninUser signin
@inject IHttpContextAccessor http
@code
{
    public string TextMessage { get; set; }
    public int InboxNotReaded { get; set; }
    public UserMessage Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            this.inbox = userMessages.GetInbox();
            this.InboxNotReaded = userMessages.GetInboxNotReaded();
            this.outbox = userMessages.GetOutbox();
            OnInboxButtonClicked();
        }
        catch(Exception ex)
        {
            TextMessage = ex.Message;
        }
    }
}

<div class="card" style="width: 100%; height: 1024px;">
    <div class="card-header">
        <h2>Сообщения пользователя</h2>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="list-group d-flex flex-row">

                <li class="list-group-item @(view == "new_message"? "active": "")" @onclick="OnCreateMessageButtonClicked">Новое сообщение</li>
                <li class="list-group-item @(view == "inbox"? "active": "")" @onclick="OnInboxButtonClicked">Входящие (@inbox.Count())</li>
                <li class="list-group-item @(view == "outbox"? "active": "")" @onclick="OnOutboxButtonClicked">Исходящие (@outbox.Count())</li>
            </ul>
        </nav>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-12">
                    @switch (view)
                    {
                        case "message":
                            <MessageCard></MessageCard>
                            break;
                        case "outbox":
                            <MessagesList Messages="@outbox"></MessagesList>
                            break;
                        case "inbox":
                            <MessagesList Messages="@inbox"></MessagesList>                      
                            break;
                        case "new_message":
                            <CreateMessage OnSend="(evt => { OnSendMessage(evt); StateHasChanged();  })"></CreateMessage>
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>
@inject SigninUser signin
@code 
{

        List<UserMessage> inbox;
        List<UserMessage> outbox;

        string view;


        int fromUserId;


    public string UserMessage { get; set; }

    public void OnResendMessageButtonClicked()
    {      
        //toUserId = fromUserId;
        fromUserId = signin.Verify().Id;
        view = "new_message";
        //message = "";
        StateHasChanged();
    }

    public void OnSendMessage(UserMessage evt)
    {
        try
        {
            var from = signin.Verify().Id;
            if (evt.ToUserID is null)
                throw new ArgumentNullException("ToUserID");
            userMessages.Send(evt,null);

            this.inbox = userMessages.GetInbox();
            this.outbox = userMessages.GetOutbox();
            view = "inbox";
        }
        catch(Exception ex)
        {
            this.Error(UserMessage = $"Ошибка при отправки сообщения: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }

    }
    public void OnCreateMessageButtonClicked()
    {
        this.view = "new_message";
        StateHasChanged();
    }
    public void OnInboxButtonClicked()
    {
        this.view = "inbox";
        StateHasChanged();
    }
    public void OnOutboxButtonClicked()
    {
        this.view = "outbox";
        StateHasChanged();
    } 
    
    public void OnMessageClicked(UserMessage message)
    {
        //this.message = message;
        this.view = "message";
        this.Message = message;                
        StateHasChanged();
    }
}

@code
{
    private List<UserMessageFile> files { get; set; } = new();
    private bool isLoading = false;

    public async Task OnFileChanged(InputFileChangeEventArgs evt)
    {
        isLoading = true;
        files.Clear();
        foreach (var file in evt.GetMultipleFiles(3))
        {
            try
            {
                using (var ms = new MemoryStream())
                {
                    using (var stream = file.OpenReadStream())
                    {
                        var data = new byte[stream.Length];
                        await stream.ReadAsync(data);
                        files.Add(new UserMessageFile()
                        {
                            ContentType = file.ContentType,
                            FileData = data,
                            FileName  = file.Name                            
                        });
                    }

                }                 
            }
            catch (Exception ex)
            {
                Console.WriteLine($"File: {file.Name} \n Exception: {ex.Message} \n Stack: {ex.StackTrace}");
            }
        }

        isLoading = false;
    }
}