@code
{
    public FormFieldModel Model { get; set; }
}
<div class="form-check">
    <input class="form-check-input" type="checkbox" checked="@Model.Value" id="@Model.GetInputId()" name="@Model.Name">
    <label class="form-check-label" for="defaultCheck1">
        @Model.Label
    </label>
    <div class="text-info valid-feedback" style="display: block;" id="Help_@Model.GetInputId()">
        @Model.Help
    </div>
    <div class="invalid-feedback" id="Error_@Model.GetInputId()"></div>
</div>