<div class="card d-flex flex-row">
    @foreach (MainMenuBuilder.MenuItemModel menu in Model)
    {
        <span class="btn btn-sm btn-secondary"
              @onmouseleave="(evt => { menu.OnLeave(); StateHasChanged(); })"
              @onmouseover="(evt => { menu.OnOver(); StateHasChanged(); })"             
              @onclick="@CreateOnClickCallback(menu)">
            <i class="@menu.GetIcon()">@menu.GetIcon()</i>
            <label style="font-size: @(menu.GetSize());" >@menu.GetText()</label>
        </span>

        @if(menu.Expanded)
        {
            <MenuItemView Model="@(menu.GetChildren().Select( node => (MainMenuBuilder.MenuItemModel)(node) ).ToList())">
            </MenuItemView>
        }
    }
</div>
@code 
{
    [Parameter]
    public List<MainMenuBuilder.MenuItemModel> Model { get; set; } = new();
}
@functions
{
    public Action<object> CreateOnClickCallback(MainMenuBuilder.IMenuItemModel model)
    {
        var target = model;
        return (evt) =>
        {
            target.Info("clicked");
            target.OnClick();            
            StateHasChanged();
        };
    }
}