@inherits LayoutComponentBase
@code {

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public object Model { get; set; }

    public async Task OnDataTableChanged(object o) { }
}
<div>
    SharedComponent
    @if (Type == "SelectList")
    {
        <SelectList></SelectList>
    }
    else if (Type == "Form")
    {
        var form = (Form)Model;
        <FormEditor Model="@form.Model">Form</FormEditor>
    }
    else if (Type == "Button")
    {
        <Button>Button</Button>
    }
    else if (Type == "Table")
    {
        Table table = (Table)Model;
        

        <DataTable OnChanged="@OnDataTableChanged" DisplayColumns="@(table.Columns)" DataType="object" DataItems="@(table.Cells)"></DataTable>
      
    }
    else
    {

        <DynamicComponent Type="@Type.ToType()"></DynamicComponent>
        <div class="alert alert-warning">Тип компонента @Type не зарегистрирован в SharedComponent</div>
    }
</div>