@using Microsoft.EntityFrameworkCore;
@inject DbContextUser dbu
<PageTitle>Просмотр сообщений</PageTitle>

 
@if (Messages is null || Messages.Count() == 0)
{
    <tr><td>Нет сообщений</td></tr>
}
else
{

    @*<thead>
        <tr>
            <th>#</th>
            <th>Отправитель</th>
            <th>Тема/Сообщение</th>
            <th>Получено</th>                
        </tr>
    </thead>
    <tbody>
        @foreach(UserMessage Message in Messages)
        {
            <tr>
                <th></th>
                <th>@(Message.ToUserId)</th>
                <th>@Message.Subject / @Message.Text </th>
                <th>@Message.Created.ToString("d")</th>
            </tr>
        }
    </tbody>*@
    <p>@Messages.ToJsonOnScreen()</p>
    <DataTable DataType="UserMessage" DataItems="Messages"></DataTable>
    <DataTable DataType="UserMessage" DataItems="Messages"></DataTable>
}
 


@code 
{
    [Parameter]
    public IEnumerable<UserMessage> Messages { get; set; }

    public string GetUser(int userId)
    {
        return dbu.UserContexts_.Include(u => u.Person).First(u => u.Id == userId).Person.GetFullName();
    }
}
